.logo {
	position: relative;
	z-index: 100;
}

.logo__link {
	display: block;
	width: 55px;
	height: 40px;
	font-size: 0;
	background: url("../img/logo.png") center no-repeat;
	background-size: contain;

	&:focus,
	&:hover {
		text-decoration: none;
	}
}
