html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  min-height: 100%;
  font-size: 8px; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  font: normal 1.6rem "Roboto", "Arial", sans-serif;
  color: #333333;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

dd, dl, dt {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #b5b9be;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:hover, a:active, a:focus {
    color: #bcbbc3; }

.page-wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100%;
  height: auto !important;
  overflow: hidden; }

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 30px; }

.back-top {
  z-index: 1001;
  position: fixed;
  bottom: 2rem;
  right: 2rem; }
  .back-top a {
    display: block;
    width: 4rem;
    height: 4rem;
    background: url("../img/icons/to-top.png") center no-repeat;
    background-size: contain;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px;
    opacity: 0.3;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .back-top a:hover, .back-top a:active, .back-top a:focus {
      outline: none;
      cursor: pointer;
      opacity: 0.6; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-arrow-up {
  font-size: 2.65rem;
  width: 1.89434em; }

.icon-check {
  font-size: 6.75rem;
  width: 1em; }

.icon-cross {
  font-size: 4rem;
  width: 1em; }

.header {
  z-index: 101;
  position: fixed;
  width: 100%;
  max-width: 1210px;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto; }

.header__main-row {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 8rem;
  padding: 0 3rem; }

.header__menu-list,
.header__menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* main menu */
.header__menu-row {
  position: absolute;
  top: 0;
  width: 100%;
  height: 8rem;
  padding: 0 3rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  will-change: transform; }

.header__menu-item {
  padding: 0 0 0 5rem; }
  .header__menu-item:first-child {
    padding: 0; }

.header__menu-link {
  font-size: 18px;
  color: #fff; }

.header__menu-item:last-child .header__menu-link {
  font-size: 0;
  display: block;
  width: 30px;
  height: 30px; }
  .header__menu-item:last-child .header__menu-link #header_cart {
    max-width: 100%;
    height: auto;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .header__menu-item:last-child .header__menu-link:focus #header_cart path, .header__menu-item:last-child .header__menu-link:hover #header_cart path {
    fill: #bcbbc3; }

.logo {
  position: relative;
  z-index: 100; }

.logo__link {
  display: block;
  width: 55px;
  height: 40px;
  font-size: 0;
  background: url("../img/logo.png") center no-repeat;
  background-size: contain; }
  .logo__link:focus, .logo__link:hover {
    text-decoration: none; }

.menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 8rem; }

.menu__trigger {
  z-index: 210;
  position: absolute;
  top: 50%;
  right: 3rem;
  display: none;
  height: 2.6rem;
  width: 3.8rem;
  margin-top: -1.6rem;
  text-transform: uppercase;
  color: transparent;
  cursor: pointer; }
  .menu__trigger:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.4rem;
    margin-top: -.2rem;
    background: white;
    -webkit-transform: translate(0, -1rem);
        -ms-transform: translate(0, -1rem);
            transform: translate(0, -1rem);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .menu__trigger:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.4rem;
    margin-top: -.2rem;
    background: white;
    -webkit-transform: translate(0, 1rem);
        -ms-transform: translate(0, 1rem);
            transform: translate(0, 1rem);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.menu__trigger.active__mod:before {
  -webkit-transform: rotate(45deg) translate(0, 0);
      -ms-transform: rotate(45deg) translate(0, 0);
          transform: rotate(45deg) translate(0, 0); }

.menu__trigger.active__mod:after {
  -webkit-transform: rotate(-45deg) translate(0, 0);
      -ms-transform: rotate(-45deg) translate(0, 0);
          transform: rotate(-45deg) translate(0, 0); }

.menu__trigger-decor {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.4rem;
  margin-top: -.2rem;
  background: white;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.active__mod .menu__trigger-decor {
  opacity: 0;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0); }

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: url("../img/slide-bg.jpg") center no-repeat;
  background-size: cover; }

.hero__title {
  text-align: center;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font: normal 6rem "Roboto", "Arial", sans-serif;
  color: #fff; }

.hero__content {
  max-width: 45%;
  padding: 1rem 0;
  text-align: center;
  font-size: 2rem;
  color: #fff; }

.hero__scroll-down {
  z-index: 100;
  position: absolute;
  left: 50%;
  bottom: 4rem;
  width: 35px;
  height: 35px;
  margin-left: -35px;
  background-image: url("../img/icons/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
          animation: fade_move_down 2s ease-in-out infinite; }

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0; } }
@keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0; } }

.filter {
  width: 100%;
  background-color: #f5f6f7; }

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem; }

.filter__item:last-child {
  margin-left: auto; }

.filter__label {
  margin-right: 40px; }

.filter__checkbox {
  display: none;
  margin-right: 30px; }
  .filter__checkbox:checked + .filter__field:after {
    opacity: 1; }
  .filter__checkbox:checked + .filter__field:before {
    border-color: #aa9b77; }

.filter__field {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer; }
  .filter__field:before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #b1b1b1;
    background-color: #fff; }
  .filter__field:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 15px;
    height: 15px;
    opacity: 0;
    background: url("../img/icons/yes-ico.svg") center no-repeat;
    background-size: contain;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.product-list__result {
  padding-top: 8rem;
  padding-bottom: 8rem; }
  .product-list__result ul {
    width: 100%;
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .product-list__result.container {
    padding: 8rem 15px; }

.product-list__item {
  width: 29.3%;
  margin: 0 6% 60px 0; }
  .product-list__item:nth-child(3n+3) {
    margin-right: 0; }

.product {
  max-width: 320px;
  padding: 25px;
  border-radius: 3px;
  background-color: #f5f6f7; }
  .product a {
    display: block; }
  .product:focus, .product:hover, .product:active {
    outline: 6px solid #aa9b77; }

.product__size {
  max-width: 100%;
  padding: 5px 0 30px 0;
  text-align: center; }
  .product__size select {
    max-width: 100%; }

.product__image {
  position: relative;
  width: 100%;
  height: 270px;
  overflow: hidden; }
  .product__image img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.product__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.product__name {
  max-width: 80%;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #90856a;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.promo {
  background-color: #535253; }

.promo__text {
  position: relative;
  padding: 2.5rem 0;
  padding-left: 50px;
  font-size: 1.6rem;
  color: #fff; }
  .promo__text:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 30px;
    height: 30px;
    background: url("../img/icons/twitter.svg") center no-repeat;
    background-size: contain; }

.footer {
  color: #fff;
  background-color: #424242; }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem; }
  .footer__col {
    width: 27.777%; }
  .footer__content {
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2rem; }
  .footer__title {
    margin: 2rem 0;
    text-transform: uppercase;
    font-size: 2rem; }

.footer__nav {
  padding-top: 35px; }
  .footer__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .footer__nav li:last-child a {
    margin-right: 0; }
    .footer__nav li:last-child a:after {
      content: none; }

.footer__link {
  position: relative;
  margin-right: 10px;
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-transform: uppercase;
  color: #fff; }
  .footer__link:after {
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    width: 1px;
    height: 100%;
    background-color: #90856a; }

.footer__copyright {
  text-align: right;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.8rem; }

.button {
  position: relative;
  display: inline-block;
  max-width: 30rem;
  margin: 1rem;
  padding: 20px 10px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  background-color: #aa9b77;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  font: normal 14px "Roboto", "Arial", sans-serif;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-appearance: button; }
  .button:hover, .button:active {
    text-decoration: none;
    outline: 0; }

input[type="email"],
input[type="tel"],
input[type="text"],
textarea {
  display: block;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  padding-left: 3rem;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font: normal 1.4rem "Roboto", "Arial", sans-serif;
  color: #323749;
  -webkit-box-shadow: 0 0 0 1px rgba(76, 76, 76, 0.85);
          box-shadow: 0 0 0 1px rgba(76, 76, 76, 0.85);
  border: 1px solid gainsboro;
  border-radius: 5px;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none; }

input[type="email"]:required:valid,
input[type="tel"]:required:valid,
input[type="text"]:required:valid,
textarea:required:valid {
  outline: none;
  border-color: green; }

/* placeholder`s */
input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {
  color: #b1b1b1;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

input:focus::-webkit-input-placeholder, input:focus::-moz-placeholder, input:focus:-ms-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:focus::-moz-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
  opacity: 0; }

input:hover, input:active, input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  outline: none;
  border-color: #e1dede; }

textarea {
  height: auto;
  resize: none; }

.form {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem; }

.form__unit {
  position: relative;
  margin-bottom: 20px; }
  .form__unit > label {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 14px;
    opacity: 0.3; }
  .form__unit > input[type="email"]:focus,
  .form__unit > input[type="tel"]:focus,
  .form__unit > input[type="text"]:focus {
    outline: 0;
    background-color: #fff; }
    .form__unit > input[type="email"]:focus + label,
    .form__unit > input[type="tel"]:focus + label,
    .form__unit > input[type="text"]:focus + label {
      opacity: 0; }
  .form__unit > input[type="email"]:valid,
  .form__unit > input[type="tel"]:valid,
  .form__unit > input[type="text"]:valid {
    background: #fff url("../img/icons/check.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 3px 10px; }
    .form__unit > input[type="email"]:valid + label,
    .form__unit > input[type="tel"]:valid + label,
    .form__unit > input[type="text"]:valid + label {
      opacity: 0; }
  .form__unit > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
  .form__unit > input[type="tel"]:invalid:not(:focus):not(:placeholder-shown),
  .form__unit > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) {
    background: pink; }
    .form__unit > input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label,
    .form__unit > input[type="tel"]:invalid:not(:focus):not(:placeholder-shown) + label,
    .form__unit > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label {
      opacity: 0; }
  .form__unit > input[type="email"]:invalid:focus:not(:placeholder-shown) ~ .form__error,
  .form__unit > input[type="tel"]:invalid:focus:not(:placeholder-shown) ~ .form__error,
  .form__unit > input[type="text"]:invalid:focus:not(:placeholder-shown) ~ .form__error {
    max-height: 20rem;
    padding: 1rem 2rem; }
  .form__unit > textarea:focus {
    outline: 0;
    background-color: #fff; }
    .form__unit > textarea:focus + label {
      opacity: 0; }
  .form__unit > textarea:not(:focus):not(:placeholder-shown) + label {
    opacity: 0; }

.form__error {
  display: block;
  width: 100%;
  max-height: 0;
  padding: 0;
  text-align: center;
  font: normal 1.4rem "Roboto", "Arial", sans-serif;
  color: red;
  background: transparent;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.form__submit {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto; }

.modal-bg {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  max-width: 60rem;
  height: 50rem;
  max-height: 100%;
  margin: auto;
  padding: 0;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0.4rem 0.4rem 0.5rem rgba(76, 76, 76, 0.85);
          box-shadow: 0.4rem 0.4rem 0.5rem rgba(76, 76, 76, 0.85);
  outline: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .modal--show {
    display: block;
    visibility: visible !important;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s; }
  .modal--call {
    height: 45rem; }
  .modal--sucsess {
    height: 20rem; }

.modal__close {
  z-index: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
  font-size: 0;
  border: none;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .modal__close:hover, .modal__close:active, .modal__close:focus {
    cursor: pointer;
    outline: none;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.modal__guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  overflow: auto; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@media (min-width: 768px) {
    html {
      font-size: 9px; } }

@media (min-width: 1200px) {
    html {
      font-size: 10px; } }

@media (max-width: 1200px) {
    .container {
      padding: 0 15px; } }

@media (max-width: 768px) {
    .header {
      height: 100%; }
  .product-list__item {
    width: 47.5%;
    margin: 0 5% 30px 0; }
    .product-list__item:nth-child(3n+3) {
      margin-right: 5%; }
    .product-list__item:nth-child(even) {
      margin-right: 0; } }

@media screen and (max-width: 768px) {
  .header__menu-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 10rem 3rem;
    background: rgba(76, 76, 76, 0.85);
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%); }
  .header__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__menu-item {
    padding: 5rem 0 0; }
  body.menu__open .header__menu-row {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0); } }

@media (max-width: 770px) {
    .menu__trigger {
      display: block; } }

@media (max-width: 480px) {
    .hero__content {
      max-width: 100%; } }

@media screen and (max-width: 480px) {
  .product-list__item {
    width: 100%;
    margin: 0 auto 30px auto; }
    .product-list__item:nth-child(3n+3) {
      margin-right: auto; }
    .product-list__item:nth-child(even) {
      margin-right: auto; } }
