<div class="filter">
	<ul class="filter__list  container">
		<li class="filter__item">
			<label class="filter__label">
				<input class="filter__checkbox" type="checkbox" name="men" checked="">
				<span class="filter__field"> Men </span>
			</label>
		</li>
		<li class="filter__item">
			<label class="filter__label">
				<input class="filter__checkbox" type="checkbox" name="women" checked="">
				<span class="filter__field"> Women </span>
			</label>
		</li>
		<li class="filter__item">
			<label class="filter__label">
				<input class="filter__checkbox" type="checkbox" name="childrobotoren">
				<span class="filter__field"> Childrobotoren </span>
			</label>
		</li>
		<li class="filter__item">
			<button id="all_btn" class="button" type="button" name="See all prodrobotoucts"> See all prodrobotoucts </button>
		</li>
	</ul>
</div>
