<div id="products" class="product-list" ng-controller="productsCtrl">

	//= filter.html

	<div class="product-list__result  container">
		<ul>

			<li class="product  product-list__item" ng-repeat="item in data.items">
				<div class="product__size">
					<select>
						<option ng-repeat="i in item.options">{{i}}</option>
					</select>
				</div>
				<a href="#/">
					<div class="product__image">
						<img src="/img/catalog/product-{{item.img}}.png" alt="Product">
					</div>
					<div class="product__text">
						<div class="product__name"> {{item.name}} </div>
						<div class="product__price"> {{item.price}} </div>
					</div>
				</a>
			</li>

		</ul>
	</div>
</div>
