<!DOCTYPE html>
<html lang="en" ng-app="testTask">

<head>
	<meta charset="utf-8">
	<title> App Tittle </title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<link href="img/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>

	<div class="page-wrapper">

		<header class="header">
		
			<div class="header__main-row">
				<h1 class="logo">
		      <a href="/" class="logo__link" title="Shop!"> Site logo </a>
		    </h1>
			</div>
		
			<div class="menu">
				<div id="menu__trigger" class="menu__trigger">
					<span class="menu__trigger-decor"></span>
				</div>
			</div>
		
			<nav class="header__menu-row">
				<ul class="header__menu-list">
					<li class="header__menu-item">
						<a href="#/" class="header__menu-link"> Home </a>
					</li>
					<li class="header__menu-item">
						<a href="#/" class="header__menu-link"> Products </a>
					</li>
					<li class="header__menu-item">
						<a href="#/" class="header__menu-link">
							Cart
							<svg id="header_cart" viewBox="0 0 1792 1792" width="50" height="50" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="M704 1536q0 52-38 90t-90 38-90-38-38-90 38-90 90-38 90 38 38 90zm896 0q0 52-38 90t-90 38-90-38-38-90 38-90 90-38 90 38 38 90zm128-1088v512q0 24-16.5 42.5t-40.5 21.5l-1044 122q13 60 13 70 0 16-24 64h920q26 0 45 19t19 45-19 45-45 19h-1024q-26 0-45-19t-19-45q0-11 8-31.5t16-36 21.5-40 15.5-29.5l-177-823h-204q-26 0-45-19t-19-45 19-45 45-19h256q16 0 28.5 6.5t19.5 15.5 13 24.5 8 26 5.5 29.5 4.5 26h1201q26 0 45 19t19 45z"/></svg>
						</a>
					</li>
				</ul>
			</nav>
		</header>

		<main class="main">

			<section class="hero  container">
				<h1 class="hero__title"> Our clothing , your comfort </h1>
				<p class="hero__content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				<a class="hero__scroll-down" href="#/"></a>
			</section>

			<div class="product-list" ng-controller="productsCtrl">
			
				<div class="filter">
					<ul class="filter__list  container">
						<li class="filter__item">
							<label class="filter__label">
													<input class="filter__checkbox" type="checkbox" name="men" checked="">
													<span class="filter__field"> Men </span>
												</label>
						</li>
						<li class="filter__item">
							<label class="filter__label">
													<input class="filter__checkbox" type="checkbox" name="women" checked="">
													<span class="filter__field"> Women </span>
												</label>
						</li>
						<li class="filter__item">
							<label class="filter__label">
													<input class="filter__checkbox" type="checkbox" name="childrobotoren">
													<span class="filter__field"> Childrobotoren </span>
												</label>
						</li>
						<li class="filter__item">
							<button id="all_btn" class="button" type="button" name="See all prodrobotoucts"> See all prodrobotoucts </button>
						</li>
					</ul>
				</div>
			
				<div class="product-list__result  container">
					<ul>
			
						<!-- <li class="product  product-list__item" ng-repeat="item in items">
							<div class="product__size">
								<select>
												<option value="">Size</option>
												<option value="" disabled="">W28in L30in - Not available</option>
												<option value="" disabled="">W30in L30in - Not available</option>
												<option value="" disabled="">W32in L30in - Not available</option>
												<option value="">W32in L32in</option>
												<option value="">W34in L30in</option>
												<option value="">W34in L32in</option>
												<option value="">W36in L32in</option>
								</select>
							</div>
							<a href="#/">
								<div class="product__image">
									<img src="/img/catalog/product-1.png" alt="Shirt">
								</div>
								<div class="product__text">
									<div class="product__name"> T-shirt </div>
									<div class="product__price"> 5,00 </div>
								</div>
							</a>
						</li>
			
						<li class="product  product-list__item">
							<div class="product__size">
								<select>
												<option value="">Size</option>
												<option value="" disabled="">W28in L30in - Not available</option>
												<option value="" disabled="">W30in L30in - Not available</option>
												<option value="" disabled="">W32in L30in - Not available</option>
												<option value="">W32in L32in</option>
												<option value="">W34in L30in</option>
												<option value="">W34in L32in</option>
												<option value="">W36in L32in</option>
											</select>
							</div>
							<a href="#/">
								<div class="product__image">
									<img src="/img/catalog/product-2.png" alt="Pants">
								</div>
								<div class="product__text">
									<div class="product__name"> Pants FORCLAZ </div>
									<div class="product__price"> 30,00 </div>
								</div>
							</a>
						</li>
			
						<li class="product  product-list__item">
							<div class="product__size">
								<select>
												<option value="">10 litri</option>
												<option value="" disabled="">20 litri- Not available</option>
												<option value="">30 litri</option>
												<option value="">40 litri</option>
												<option value="">50 litri</option>
											</select>
							</div>
							<a href="#/">
								<div class="product__image">
									<img src="/img/catalog/product-3.png" alt="Bag">
								</div>
								<div class="product__text">
									<div class="product__name"> Backpack </div>
									<div class="product__price"> 60,00 </div>
								</div>
							</a>
						</li> -->
			
						<li class="product  product-list__item" ng-repeat="items in data">
							<div class="product__size">
								<select>
									<option value="">{{items.options}}</option>
								</select>
							</div>
							<a href="#/">
								<div class="product__image">
									<img src="/img/catalog/product-3.png" alt="Product">
								</div>
								<div class="product__text">
									<div class="product__name"> {{items.name}} </div>
									<div class="product__price"> {{items.price}} </div>
								</div>
							</a>
						</li>
			
					</ul>
				</div>
			</div>

			<div class="promo">
				<div class="container">
					<p class="promo__text"> “ E-commerce psd theme available ” </p>
				</div>
			</div>

		</main>

		<footer class="footer">
			<div class="footer__inner  container">
		
				<div class="footer__col">
					<h3 class="footer__title"> Trekking </h3>
					<p class="footer__content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
				</div>
		
				<div class="footer__col">
					<nav class="footer__nav">
						<ul>
							<li>
								<a class="footer__link" href="#/"> Credits </a>
							</li>
							<li>
								<a class="footer__link" href="#/"> Privacy </a>
							</li>
							<li>
								<a class="footer__link" href="#/"> About </a>
							</li>
							<li>
								<a class="footer__link" href="#/"> Contact </a>
							</li>
						</ul>
					</nav>
		
					<div class="footer__copyright">
						<p> Design by gianluca cosetta </p>
					</div>
				</div>
		
			</div>
		</footer>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
	<script src="js/app.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
	<!-- <script src="js/main.js"></script> -->

</body>

</html>